# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Rider
.idea/

# Visual Studio
.vs/

# Logs
*.log

# Docker
**/containers/

# Test results
TestResults/
coverage/

# Secrets e configs locais
.env
*.secret.json
*.local.json

# Ignorar configurações de Docker locais
.containers/
docker-compose.override.yml

data/redis/appendonlydir/